@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
  --dark-blue:  #1f2937;
  --dark-gray:  #6d747d;
  --light-blue: #3882f6;
  --light-gray: #e5e7eb;
  --white:      #f9f1f8;
}

* {
  font-family: Roboto, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-section {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
  padding: 0 24em 8em;
  gap: 7em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--white);
}

.header > ul {
  display: flex;
  font-size: 18px;
  color: var(--light-gray);
  list-style-type: none;
  gap: 1em;
}

.hero {
  display: flex;
}

.hero-text > h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.hero-text > p {
  font-size: 18px;
  color: var(--light-gray);
  margin: 0;
  padding: 0;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
