@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
  --dark-blue:  #1f2937;
  --dark-gray:  #6d747d;
  --light-blue: #3882f6;
  --light-gray: #e5e7eb;
  --white:      #f9f1f8;
}

* {
  font-family: Roboto, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-section {
  display: flex;
  justify-content: center;
  background-color: var(--dark-blue);
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 950px;
  padding: 0 0 8em;
  gap: 7em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.header-logo {
  font-size: 24px;
  font-weight: 900;
  color: var(--white);
}

.header > ul {
  display: flex;
  font-size: 18px;
  color: var(--light-gray);
  list-style-type: none;
  gap: 1em;
}

.hero {
  display: flex;
  gap: 2em;
}

.hero-text {
  flex: 1;
}

.hero-text > h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.hero-text > p {
  font-size: 18px;
  color: var(--light-gray);
  margin: 0;
  padding: 0.25em 0 1em;
}

.hero-text > button {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: var(--light-blue);
  border-style: none;
  border-radius: 0.5em;
  padding: 0.5em 2em;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: var(--light-gray);
  background-color: var(--dark-gray);
  flex: 1;
}

.information-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em 0 8em;
  gap: 1em;
}

.information-section > h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-blue);
}

.information-container {
  display: flex;
  gap: 3em;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  gap: 0.5em;
}

.information-image {
  height: 175px;
  width: 175px;
  border: 0.25em solid var(--light-blue);
  border-radius: 1em;
}

.information-text {
  font-size: 18px;
  color: var(--dark-gray);
  text-align: center;
}

.quote-section {
  display: flex;
  justify-content: center;
  color: var(--dark-blue);
  background-color: var(--light-gray);
}

.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 790px;
  padding: 8em;
}

.quote-container > p {
  margin: 0;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-credit {
  font-size: 24px;
  font-weight: 900;
  align-self: end;
  padding-right: 1.5em;
}

.signup-section {
  display: flex;
  justify-content: center;
  padding: 6em;
}

.signup-bubble {
  display: flex;
  color: white;
  background-color: var(--light-blue);
  border-radius: 0.5em;
  padding: 3em 8em;
  gap: 10em;
}

.signup-bubble-text {
  display: flex;
  flex-direction: column;
}

.signup-bubble-text > h3,
.signup-bubble-text > p {
  margin: 0;
}
