@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

:root {
  --dark-blue:  #1f2937;
  --dark-gray:  #6d747d;
  --light-blue: #3882f6;
  --light-gray: #e5e7eb;
  --white:      #f9f1f8;
}

* {
  font-family: Roboto, Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.hero-section {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-blue);
}
